<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href".css">
        <title>えれくしょん！</title>
    </head>
    <body>
        <h1>説明動画</h1>
    
        <video src="video.~~" autoplay playsinline></video>

        <button>スタート</button>
    </body>
</html>